<div class="card">
  <h5 class="card-header">Estadísticas</h5>
  <div class="card-body">
    <% if @errors %>
      <% @errors.each do |error| %>
        <div class="alert alert-danger" role="alert">
          <%= error%>
        </div>
      <% end %>
    <% end %>  
    <font size="1.5">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col" width="17%">Nombre</th>
            <th scope="col" width="7%">Tipo</th>
            <th scope="col" width="15%">Área</th>
            <th scope="col">Comuna</th>
            <th scope="col">Fecha Inicio</th>
            <th scope="col">Fecha Fin</th>
            <th scope="col">Avance</th>
            <th scope="col" style="text-align:center">Acción</th>
          </tr>
        </thead>
        <tbody>
          <% @obras_año.each do |obra|%>
            <tr>
              <th scope="row"><%=obra.nombre%></th>
              <td><%=obra.tipo%></td>
              <td><%=obra.area_responsable%></td>
              <td style="text-align:center"><%=obra.comuna%></td>
              <td><%=Date.parse(obra.fecha_inicio).strftime("%d-%m-%Y") unless obra.fecha_inicio.to_s.empty?%></td>
              <td><%=Date.parse(obra.fecha_fin_real).strftime("%d-%m-%Y") unless obra.fecha_fin_real.to_s.empty?%></td>
              <td><%=obra.porcentaje_avance%></td>
              <td><a class="btn btn-success" href="/vista_obra/<%=obra.id%>" style="float:right">Detalles</a></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </font><br>
  </div>
</div>  