<div class="card">
  <h5 class="card-header">Consulta: Obras <%=@opcion%> en el año <%=@año%></h5>
  <div class="card-body">
    <% if @errors %>
      <% @errors.each do |error| %>
        <div class="alert alert-danger" role="alert">
          <%= error%>
        </div>
      <% end %>
    <% end %>  
    <font size="1.5">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col" width="17%">Nombre</th>
            <th scope="col" width="7%">Tipo</th>
            <th scope="col" width="15%">Área</th>
            <th scope="col" style="text-align:center">Comuna</th>
            <th scope="col">Fecha Inicio</th>
            <th scope="col">Fecha Fin</th>
            <th scope="col" style="text-align:center">Avance</th>
            <th scope="col" style="text-align:center">Acción</th>
          </tr>
        </thead>
        <tbody>
          <% @obras_año.each do |obra|%>
            <tr>
              <th scope="row"><%=obra.nombre%></th>
              <td><%=obra.tipo%></td>
              <td><%=obra.area_responsable%></td>
              <td style="text-align:center"><%=obra.comuna%></td>
              <td><%=obra.fecha_inicio%></td>
              <td><%=obra.fecha_fin_real%></td>
              <td style="text-align:center"><%=obra.porcentaje_avance%>%</td>
              <td style="text-align:center"><a class="btn btn-info" href="/vista_obra/<%=obra.id%>">Detalles</a></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </font><br><br>
    <a class="btn btn-warning" href="/">Inicio</a> &nbsp;
    <a class="btn btn-primary" href="/estadisticas">Volver</a>
  </div>
</div>  