<div class="card">
  <h5 class="card-header">Listado de Obras</h5>
  <div class="card-body">
    <% if @errors %>
      <% @errors.each do |error| %>
        <div class="alert alert-danger" role="alert">
          <%= error%>
        </div>
      <% end %>
    <% end %>
    <% if @success_delete %>
      <div class="alert alert-success" role="alert">
          La obra fue eliminada correctamente
      </div>
    <% end %>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Etapa</th>
          <th scope="col">Comuna</th>
          <th scope="col">Monto</th>
          <th scope="col">Fecha Inicio</th>
          <th scope="col">Avance</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @lista_de_obras.each do |obra| %>
          <tr>
            <th scope="row"><%=obra.nombre%></th>
            <td><%=obra.etapa%></td>
            <td><%=obra.comuna%></td>
            <td>$<%=obra.monto_contrato%></td>
            <td><%=obra.fecha_inicio%></td>
            <td><%=obra.porcentaje_avance%>%</td>
            <td width="28%">
              <div class="row">
                <a class="btn btn-success" href="/vista_obra/<%=obra.id%>">Detalles</a> &nbsp;
                <a class="btn btn-primary" href="/modificar_obra/<%=obra.id%>">Modificar</a> &nbsp;
                <form action="/obra/<%=obra.id%>" method="post">
                  <input type='hidden' name='_method' value='DELETE'/>
                  <button type='submit' class='btn btn-danger'>Eliminar</button>
                </form>
              </div>
            </td>
          </tr>
        <% end %>
      </table>
    <a class="btn btn-primary" href="/">Inicio</a>
  </div>
</div>