<div class="card">
  <h5 class="card-header">Detalles de la Obra - ID:<%=@obra.id%></h5>
  <div class="card-body">
    <% if @errors %>
      <% @errors.each do |error| %>
        <div class="alert alert-danger" role="alert">
          <%= error%>
        </div>
      <% end %>
    <% end %>
    <% if @success %>
      <div class="alert alert-success" role="alert">
          Obra ingresada correctamente
      </div>
    <% end %>
    <div class="row vertical-align">
      <div class="col">
        <strong>Nombre: </strong><%=@obra.nombre%><br><br>
        <strong>Tipo: </strong><%=@obra.tipo%><br><br>
        <strong>Descripción: </strong><%=@obra.descripcion%><br><br>
      </div>
      <div class="col">
        <strong>Etapa: </strong><%=@obra.etapa%><br><br>
        <strong>Área responsable: </strong><%=@obra.area_responsable%><br><br>
        <strong>Monto: </strong>$<%=@obra.monto_contrato%><br><br>
        <strong>Comuna: </strong><%=@obra.comuna%><br><br>
        <strong>Barrio: </strong><%=@obra.barrio%><br><br>
        <strong>Dirección: </strong><%=@obra.direccion%><br><br>
      </div>
      <div class="col">
        <strong>Fecha de inicio: </strong>
        <%=Date.parse(@obra.fecha_inicio).strftime("%d-%m-%Y") unless @obra.fecha_inicio.empty?%><br><br>
        <strong>Fecha estimada de fin: </strong>
        <%=Date.parse(@obra.fecha_fin_planeada).strftime("%d-%m-%Y") unless @obra.fecha_fin_planeada.empty?%><br><br>
        <strong>Fecha de finalización: </strong>
        <%=Date.parse(@obra.fecha_fin_real).strftime("%d-%m-%Y") unless @obra.fecha_fin_real.empty?%><br><br>
        <strong>Porcentaje de avance: </strong><%=@obra.porcentaje_avance%>%<br><br>
        <strong>Imagen:<br><br>
          <img class="center-block img-responsive mb-3" src="<%=@obra.imagen%>" style="max-width:80%;">
      </div>
    </div><br><br>
    <div class="row justify-content-around">
      <a class="btn btn-warning" href="/">Inicio</a> &nbsp;
      <a class="btn btn-info" href="/lista_obras">Lista de Obras</a> &nbsp;
      <% if @success %>
        <a class="btn btn-success" href="/nueva_obra">Cargar nueva Obra</a> &nbsp;
      <% end %>
      <a class="btn btn-primary" href="/modificar_obra/<%=@obra.id%>">Modificar</a> &nbsp;
      <form action="/obra/<%= @obra.id %>" method="post">
        <input type='hidden' name='_method' value='DELETE'/>
        <button type='submit' class='btn btn-danger'>Eliminar</button>
      </form>
      </div>
  </div>
</div>